@import '../../../styles/color-variables.less';
@lightGray: #d3d3d3; 
@white: #ffffff;

.container {
    width: 550px;
    margin: 0 auto;
}

.record {
    padding: 10px;
    margin: 5px;
    border: 1px solid #d4d9e2;
    border-radius: 5px;
    color: #6482AD;
    outline: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.record-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.record-info, .record-details {
    width: 100%;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    height: 40px;
}

.record-item {
    display: flex;
    align-items: center;
    width: 118px;
    height: 30px;
    overflow: hidden;
}

.record-item img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.place-img {
    margin-left: 5px;
}

.cost {
    font-weight: bold;
}

.pose-image {
    margin-top: 70px;
    width: 300px; 
    height: auto;
    text-align: center;
}

// Pagination
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;

    .page-item {
        margin: 0 5px;

        &.disabled .page-link {
            cursor: not-allowed;
            color: @lightGray;
            background-color: @white;
            border-color: @lightGray;
        }

        &.active .page-link {
            color: @white;
            background-color: @primary-color;
            border-color: @primary-color;
        }

        .page-link {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 8px 12px;
            font-size: 1rem;
            color: @primary-color;
            background-color: @white;
            border: 1px solid @primary-color;
            border-radius: 4px;
            transition: all 0.3s ease;

            &:hover {
                color: @white;
                background-color: darken(@primary-color, 10%);
                border-color: darken(@primary-color, 10%);
            }

            &:focus {
                outline: none;
                box-shadow: 0 0 5px lighten(@primary-color, 20%);
            }
        }
    }
}