.container {
    width: 510px;
    margin: 0 auto;
}

.record {
    padding: 10px;
    margin: 5px;
    border: 1px solid #d4d9e2;
    border-radius: 5px;
    color: #6482AD;
    outline: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.record-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.record-info, .record-details {
    width: 100%;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    height: 40px;
}

.record-item {
    display: flex;
    align-items: center;
    width: 118px;
    height: 30px;
    overflow: hidden;
}

.record-item img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.place-img {
    margin-left: 5px;
}

.cost {
    font-weight: bold;
}