<div class="container">
	<div class="baseRefuelling">
		<div class="refuelling" tabindex="-1" role="dialog">
			<div class="content blue-border">
				<div class="modal-body">
					<form>
						<div class="form-group">
							<kendo-label text="Date and Time:">
								<kendo-datetimepicker [format]="format" [(value)]="date"></kendo-datetimepicker>
							</kendo-label>
						</div>

						<div class="form-group">
							<label for="odometer">Odometer:</label>
							<input type="number" [(ngModel)]="odometer" class="form-control" id="odometer"
								name="odometer" (input)="onInputChange('odometer')" />
							<div class="text-danger error-message" *ngIf="odometerError">{{ odometerError }}</div>
						</div>

						<div class="form-group">
							<label for="fuel" class="fuel-label">Fuel:</label>
							<select [(ngModel)]="fuelId" name="fuel" class="form-control"
								(change)="onInputChange('fuel')">
								<option [value]="fuel.id" *ngFor="let fuel of fuels">
									{{fuel.name}}
								</option>
							</select>
							<div class="text-danger error-message" *ngIf="fuelError">{{ fuelError }}</div>
						</div>

						<div class="form-group">
							<label for="price">Price:</label>
							<input 
								type="number" [(ngModel)]="price" class="form-control" id="price" 
								name="price" (blur)="updateValues('price')"
								(input)="onInputChange('price')" />
							<div class="text-danger error-message" *ngIf="priceError">{{ priceError }}</div>
						</div>

						<div class="form-group">
							<label for="quantity">Quantity:</label>
							<input 
								type="number" [(ngModel)]="quantity" class="form-control" id="quantity" name="quantity"
								(blur)="updateValues('quantity')"
								(input)="onInputChange('quantity')" />
							<div class="text-danger error-message" *ngIf="quantityError">{{ quantityError }}</div>
						</div>

						<div class="form-group">
							<label for="totalCost">Total cost:</label>
							<input 
								type="number" [(ngModel)]="totalCost" class="form-control" id="totalCost" name="totalCost"
								(blur)="updateValues('totalCost')"
								(input)="onInputChange('totalCost')" />
							<div class="text-danger error-message" *ngIf="totalCostError">{{ totalCostError }}</div>
						</div>

						<div class="form-group">
							<div class="form-check form-switch">
								<input class="form-check-input" [(ngModel)]="isFilled" type="checkbox" role="switch"
									id="flexSwitchCheckDefault" name="isFilled">
								<label class="form-check-label" for="flexSwitchCheckDefault">Are you filling the
									tank?</label>
							</div>
						</div>

						<div class="form-group">
							<label for="station">Gas station:</label>
							<input type="text" [(ngModel)]="station" class="form-control" name="station"
								(input)="onInputChange('station')" />
							<div class="text-danger error-message" *ngIf="stationError">{{ stationError }}</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-outline-danger" type="button" (click)="cancel()">Cancel</button>
					<button class="btn btn-outline-success" type="button" (click)="saveAddChanges()">Save</button>
				</div>
			</div>
		</div>
	</div>
</div>