.refuelling {
    position: relative;
    display: block;
}

.baseRefuelling {
    align-items: center;
    width: 435px;
    margin: 0 auto;
    background-color: #f8f9fa;
}

.blue-border {
    border: 1px solid, #d4d9e2;
    border-radius: 5px;
    padding: 10px;
}

.save-button {
    margin-top: 5px;
}

.isFilled {
    margin-top: 5px;
}

.form-group {
    color: #6482AD;
}

.fuel-label {
    color: #6482AD;
}