<div class="container">
    <div class="baseExpense">
        <div class="expense" tabindex="-1" role="dialog">
            <div>
                <div class="content blue-border">
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <kendo-label text="Date and Time:">
                                    <kendo-datetimepicker
                                      [format]="format"
                                      [(value)]="date"
                                    ></kendo-datetimepicker>
                                  </kendo-label>
                            </div>
    
                            <div class="form-group">
                                <label for="odometer">Odometer:</label>
                                <input type="number" [(ngModel)]="odometer" class="form-control" id="odometer" name="odometer" (change)="onInputChangeExpense('odometer')"/>
                                <div class="text-danger error-message" *ngIf="odometerError">{{ odometerError }}</div>
                            </div>
    
                            <div class="form-group">
                                <label for="expenseType">Expense:</label>
                                <div class="d-flex align-items-stretch">
                                    <div class="flex-grow-1">
                                        <app-select [options]="expenseTypes" [(ngModel)]="expenseTypeId"
                                            (selectionChange)="onInputChangeExpense('expense')">
                                        </app-select>
                                    </div>
                                    <div class="expense-type-create">
                                        <button type="button" (click)="showModalExpenseTypeCreate()" class="btn btn-outline-success">+</button>
                                    </div>
                                </div>
                                <div class="text-danger error-message" *ngIf="expenseError">{{ expenseError }}</div>
                            </div>

                            <div class="form-group">
                                <label for="value">Cost:</label>
                                <input type="number" [(ngModel)]="cost" class="form-control" id="price" name="price" (change)="onInputChangeExpense('cost')"/>
                                <div class="text-danger error-message" *ngIf="costError">{{ costError }}</div>
                            </div>

                            <div class="form-group">
                                <label for="place">Place:</label>
                                <input type="text" [(ngModel)]="place" class="form-control" name="place" (change)="onInputChangeExpense('place')"/>
                                <div class="text-danger error-message" *ngIf="placeError">{{ placeError }}</div>
                            </div>
    
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <input type="text" [(ngModel)]="description" class="form-control" name="description"/>
                            </div>                            
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-outline-danger" type="button"  (click)="cancel()">Cancel</button>
                        <button class="btn btn-outline-success" type="button" (click)="saveAddExpenseChanges()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div *ngIf="modalExpenseTypeCreate" class="modal-container" tabindex="-1" role="dialog">
        <div class="modal-content blue-border">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Add expense type</h5>
                <button type="button" (click)="hideModalExpenseTypeCreate()" class="btn-close custom-close-btn"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" [(ngModel)]="name" class="form-control" id="Name" name="Name" (change)="onInputChangeExpenseType('name')"/>
                        <div class="text-danger error-message" *ngIf="nameError">{{ nameError }}</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-danger" type="button" (click)="hideModalExpenseTypeCreate()">Cancel</button>
                <button class="btn btn-outline-success" type="button" (click)="saveAddExpenseTypeChanges()">Save</button>
            </div>
        </div>
    </div>
</div>
