<div class="wrapper">
    <aside class="sidebar d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a [routerLink]="['/', 'vehicle', vehicleId]"
                    [ngClass]="['nav-link', isActive('history') ? 'active' : 'text-white']"
                    aria-current="page">
                    History
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/', 'vehicle', vehicleId, 'refueling']"
                    [ngClass]="['nav-link', isActive('refueling') ? 'active' : 'text-white']"
                    aria-current="page">
                    Add Refuelling
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/', 'vehicle', vehicleId, 'service']"
                    [ngClass]="['nav-link', isActive('service') ? 'active' : 'text-white']"
                    aria-current="page">
                    Add Service
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/', 'vehicle', vehicleId, 'expense']"
                    [ngClass]="['nav-link', isActive('expense') ? 'active' : 'text-white']"
                    aria-current="page">
                    Add Expense
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/delete-car']"
                    [ngClass]="['nav-link', isActive('delete-car') ? 'active' : 'text-white']"
                    aria-current="page">
                    Delete Car
                </a>
            </li>
        </ul>
    </aside>
    <main class="main">
        <app-header></app-header>
        <div class="outlet-wrapper">
            <div class="history-container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </main>
</div>