@primary-color: #9155FD;  
@hover-color: #7b42c2;  
@divider-color: #f0f0f5;  
@text-color: #fff;  
@sidebar-background-color: #f8f9fa;
@hover-background-color: #b8b8c9;
@sidebar-text-color : #333;
@modal-shadow-color: rgba(0, 0, 0, 0.2);
@modal-background-color: rgba(0, 0, 0, 0.5);  

.wrapper {  
    min-height: 100vh;  
    display: flex;  
}  

.outlet-wrapper {  
    margin-top: 20px;  
}  

.sidebar {  
    min-height: 100vh;  
    width: 320px;  
    position: fixed;  
    background-color: @sidebar-background-color;  
    padding: 0;  

    .nav-pills {  
        padding-left: 0;  
        margin-right: 40px;  
        margin-top: 25px;

        .nav-link {  
            margin: 2px 0;  
            background-color: @sidebar-background-color;  
            color: @sidebar-text-color;
            transition: background-color 0.3s ease, color 0.3s ease;  
            border-radius: 0 50px 50px 0;  
            height: 44px;  
            font-weight: 500;
            padding-left: 30px; 

            &.active {  
                background-color: @primary-color;
                color: @text-color;
                background-image: linear-gradient(98deg, #c1bcc7, @primary-color); 
            }  

            &:hover {  
                color: @sidebar-text-color; 
                background-color: @hover-background-color;
            }  
        }  
    }  
}  

.main {  
    flex: 1;  
    min-height: 100vh;  
    margin-left: 320px;  
    border: none;  
    background-color: @sidebar-background-color;  
    padding: 20px;  
}

.tree-image {
    margin-top: 100px;
}