<div class="card p-5">
	<form [formGroup]="myForm" class="row g-3">
	  <div class="col-md-6">
		<label class="form-label" for="date">Date and Time:</label>
		<kendo-datetimepicker class="kendo-datetime" formControlName="date" [format]="'yyyy-MM-dd HH:mm'"></kendo-datetimepicker>
	  </div>
  
	  <div class="col-md-6">
		<label class="form-label" for="odometer">Odometer:</label>
		<div class="input-group">
			<input type="number" formControlName="odometer" max="2147483647" class="form-control" id="odometer" />
			<span class="input-group-text">km</span>
		</div>
		<div class="text-danger error-message" *ngIf="myForm.get('odometer')?.invalid && myForm.get('odometer')?.touched">
			Odometer value must be between 0 and 2147483647 km!
		</div>
	  </div>
  
	  <div class="col-md-6">
		<app-select [options]="selectModel" label="Service type:" formControlName="serviceType"></app-select>
		<div class="text-danger error-message" *ngIf="myForm.get('serviceType')?.invalid && myForm.get('serviceType')?.touched">
		  Service type is required!
		</div>
		<button type="button" (click)="showModalServiceTypeCreate()" class="btn btn-primary btn-sm mt-2">
		  + Add new service type
		</button>
	  </div>
  
	  <div class="col-md-6">
		<label class="form-label" for="price">Price:</label>
		<div class="input-group">
			<input type="number" formControlName="price" class="form-control" id="price" />
			<span class="input-group-text">$</span>
		</div>
	  </div>
  
	  <div class="col-md-6">
		<label class="form-label" for="place">Place:</label>
		<input type="text" formControlName="place" class="form-control" id="place" />
		<div class="text-danger error-message" *ngIf="myForm.get('place')?.invalid && myForm.get('place')?.touched">
		  Place is required!
		</div>
	  </div>
  
	  <div class="col-md-6">
		<label class="form-label" for="notes">Notes:</label>
		<textarea formControlName="notes" class="form-control" id="notes" rows="3"></textarea>
	  </div>
  
	  <div class="col-12 d-flex justify-content-end mt-4">
		<button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
		<button class="btn btn-primary ms-2" type="button" (click)="saveAddServiceChanges()">Save</button>
	  </div>
	</form>
  </div>
  
  <div *ngIf="modalServiceTypeCreate" class="modal fade show d-block" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">Add Service Type</h5>
		  <button type="button" class="btn-close" (click)="hideModalServiceTypeCreate()"></button>
		</div>
		<div class="modal-body">
		  <form [formGroup]="serviceTypeForm" (ngSubmit)="saveAddServiceTypeChanges()">
			<div class="mb-3">
			  <label class="form-label" for="serviceTypeName">Name:</label>
			  <input type="text" formControlName="name" class="form-control" id="serviceTypeName" />
			  <div class="text-danger error-message" *ngIf="serviceTypeForm.get('name')?.invalid && serviceTypeForm.get('name')?.touched">
				Name is required and cannot exceed 30 characters.
			  </div>
			</div>
			<div class="modal-footer">
			  <button class="btn btn-secondary" type="button" (click)="hideModalServiceTypeCreate()">Cancel</button>
			  <button class="btn btn-primary" type="button" [disabled]="serviceTypeForm.invalid" (click)="saveAddServiceTypeChanges()">Save</button>
			</div>
		  </form>
		</div>
	  </div>
	</div>
  </div>
  