<div class="container">
	<div class="baseService">
		<div class="service" tabindex="-1" role="dialog">
			<div>
				<div class="content blue-border">
					<div class="modal-body">
						<form>
							<div class="form-group">
								<kendo-label text="Date and Time">
									<kendo-datetimepicker
									  [format]="format"
									  [(value)]="date"
									></kendo-datetimepicker>
								  </kendo-label>
							</div>
	
							<div class="form-group">
								<label for="odometer">Odometer:</label>
								<input type="number" [(ngModel)]="odometer" class="form-control" id="odometer"
									placeholder="odometer" name="odometer" required="odometer" />
							</div>
	
							<div class="drowdown">
								<label for="serviceType">Service: </label>
								<div class="d-flex align-items-stretch">
									<select [(ngModel)]="serviceTypeId" name="serviceType" (change)="serviceTypes"
										class="form-control">
										<option [value]="serviceType.id" *ngFor="let serviceType of serviceTypes">
											{{serviceType.name}}
										</option>
									</select>
									<div class="service-type-create">
										<button type="button" (click)="showModalServiceTypeCreate()"
										class="btn btn-outline-info ml-2">+</button>
									</div>
								</div>
							</div>
	
							<div class="form-group">
								<label for="price">Price:</label>
								<input type="number" [(ngModel)]="price" class="form-control" id="price" name="price"
									required="price" />
							</div>
	
							<div class="form-group">
								<label for="place">Place:</label>
								<input type="text" [(ngModel)]="place" class="form-control" placeholder="place" name="place"
									required="place" />
							</div>
	
							<div class="form-group">
								<label for="notes">Notes:</label>
								<input type="text" [(ngModel)]="notes" class="form-control" placeholder="notes" name="notes"
									required="notes" />
							</div>
							
							<div class="save-button">
								<button class="btn btn-success" type="submit" (click)="saveAddServiceChanges()">Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>	

	<div *ngIf="modalServiceTypeCreate" class="modal-container" tabindex="-1" role="dialog">
		<div class="modal-content blue-border">
			<div class="modal-header">
				<h5 class="modal-title" id="myModalLabel">Create Service Type</h5>
				<button type="button" (click)="hideModalServiceTypeCreate()" class="btn-close"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="name">Name:</label>
						<input type="text" [(ngModel)]="name" class="form-control" id="carName" placeholder="Name"
							name="carName" required="carName" />
					</div>

					<button type="button" class="m-1 btn btn-primary" data-dismiss="modal"
						(click)="hideModalServiceTypeCreate()">
						No
					</button>
					<button class="btn btn-success" type="submit" (click)="saveAddServicetypeChanges()">
						Yes
					</button>
				</form>
			</div>
		</div>
</div>
</div>