#service {
    position: relative;
    max-width: 500px;
    max-height: 600px;
    display: block;
    left: 100%;
    right: 100%;
}

#baseService {
    max-width: 435px;
    max-height: 10px;
}

#serviceType {
    position: relative;
    max-width: 300px;
    max-height: 300px;
    display: block;
}