<div class="container">
	<div class="baseService">
		<div class="service" tabindex="-1" role="dialog">
			<div>
				<div class="content blue-border">
					<div class="modal-body">
						<form>
							<div class="form-group">
								<kendo-label text="Date and Time:">
									<kendo-datetimepicker
									  [format]="format"
									  [(value)]="date"
									></kendo-datetimepicker>
								  </kendo-label>
							</div>
	
							<div class="form-group">
								<label for="odometer">Odometer:</label>
								<input type="number" [(ngModel)]="odometer" class="form-control" id="odometer" name="odometer" (change)="onInputChangeService('odometer')"/>
								<div class="text-danger error-message" *ngIf="odometerError">{{ odometerError }}</div>
							</div>
							
							<div class="form-group">
								<label for="serviceType">Service:</label>
								<div class="d-flex align-items-stretch">
									<div class="flex-grow-1">
										<app-select [options]="serviceTypes" [(ngModel)]="serviceTypeId"
											(selectionChange)="onInputChangeService('serviceType')">
										</app-select>
									</div>
									<div class="service-type-create">
										<button type="button" (click)="showModalServiceTypeCreate()" class="btn btn-outline-success">+</button>
									</div>
								</div>
								<div class="text-danger error-message" *ngIf="serviceTypeError">{{ serviceTypeError }}</div>
							</div>
							  
							<div class="form-group">
								<label for="price">Price:</label>
								<input type="number" [(ngModel)]="price" class="form-control" id="price" name="price" (change)="onInputChangeService('price')"/>
								<div class="text-danger error-message" *ngIf="priceError">{{ priceError }}</div>
							</div>
	
							<div class="form-group">
								<label for="place">Place:</label>
								<input type="text" [(ngModel)]="place" class="form-control" name="place" (change)="onInputChangeService('place')"/>
								<div class="text-danger error-message" *ngIf="placeError">{{ placeError }}</div>
							</div>
	
							<div class="form-group">
								<label for="notes">Notes:</label>
								<input type="text" [(ngModel)]="notes" class="form-control" name="notes" />
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button class="btn btn-outline-danger" type="button" (click)="cancel()">Cancel</button>
						<button class="btn btn-outline-success" type="button" (click)="saveAddServiceChanges()">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>	

	<div *ngIf="modalServiceTypeCreate" class="modal-container" tabindex="-1" role="dialog">
		<div class="modal-content blue-border">
			<div class="modal-header">
				<h5 class="modal-title" id="myModalLabel">Add service type</h5>
				<button type="button" (click)="hideModalServiceTypeCreate()" class="btn-close custom-close-btn"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="name">Name:</label>
						<input type="text" [(ngModel)]="name" class="form-control" id="carName" name="carName" (change)="onInputChangeServiceType('name')"/>
						<div class="text-danger error-message" *ngIf="nameError">{{ nameError }}</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-danger" type="button" (click)="hideModalServiceTypeCreate()">Cancel</button>
				<button class="btn btn-outline-success" type="button" (click)="saveAddServiceTypeChanges()">Save</button>
			</div>
		</div>
	</div>
</div>
