.btn {
    border: 1px solid #d4d9e2;
    color: #6482AD;
    border-radius: 5px;
    cursor: pointer;
    width: 60px;
    height: 38px;
    background-color: #f8f9fa;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 999;
}

.btn-secondary {
    border-color: #007bff;
}

.btn-danger {
    border-color: #dc3545;
    margin: 5px;
}

.error-message {
    color: red;
    font-size: 0.8rem;
}

.form-group {
    color: #6482AD;
}

.dropdown {
    color: #6482AD;
}

.blue-border {
    border: 1px solid, #d4d9e2;
    border-radius: 5px;
    padding: 10px;
}

.expense, .service, .refuelling {
    width: 435px;
    margin: 0 auto;
    background-color: #f8f9fa;
}