<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link" [routerLink]="['/vehicle',vehicleId,'refueling']">Add Refueling</a></li>
      <li class="nav-item"><a href="#" class="nav-link" [routerLink]="['/vehicle',vehicleId,'service']">Add Service</a></li>
      <li class="nav-item"><a href="#" class="nav-link" [routerLink]="['/vehicle',vehicleId,'expense']">Add Expence</a></li>
      <li class="nav-item"><a href="#" class="nav-link" (click)="goToHistory()">History</a></li>
      <div>
        <div id="vehicles" class="drowdown">
          <select [(ngModel)]="vehicleId" name="vehicle" (change)="onVehicleChange($event)">
            <option [value]="vehicle.id" *ngFor="let vehicle of vehicles">
              {{vehicle.name}}
            </option>
            <option><button (click)="showModalCarCreate()" type="button" class="btn btn-outline-info">+ Add Car</button></option>
          </select>
        </div>
      </div>
    </ul>
  </header>

  <div id="vehicle" *ngIf="modalCarCreate" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Add a vehicle</h5>
          <button type="button" (click)="hideModalCarCreate()" class="btn-close custom-close-btn" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" [(ngModel)]="name" class="form-control" id="carName" name="carName" (input)="onInputChange('name')" />
              <div class="text-danger error-message" *ngIf="nameError">{{ nameError }}</div>
            </div>

            <div>
              <label for="manufacturer">Manufacturers:</label>
              <select id="manufacturer" [(ngModel)]="manufacturerId" name="manufacturerId" (change)="onInputChange('manufacturer')"
                class="form-control dropdown-select" >
                <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.id">
                  {{ manufacturer.name }}
                </option>
              </select>
              <div class="text-danger error-message" *ngIf="manufacturerError">{{ manufacturerError }}</div>
            </div>

            <div class="form-group">
              <label for="model">Model:</label>
              <input type="text" [(ngModel)]="model" class="form-control" name="name" (input)="onInputChange('model')"/>
              <div class="text-danger error-message" *ngIf="modelError">{{ modelError }}</div>
            </div>

            <div>
              <label for="fuelType">Fuel types:</label>
              <select id="fuelType" [(ngModel)]="fuelTypeId" name="fuelTypeId" class="form-control dropdown-select" (change)="onInputChange('fuelType')">
                <option *ngFor="let fuelType of fuelTypes" [value]="fuelType.id">
                  {{ fuelType.name }}
                </option>
              </select>
              <div class="text-danger error-message" *ngIf="fuelTypeError">{{ fuelTypeError }}</div>
            </div>

            <div class="form-group">
              <label for="model">Fuel capacity:</label>
              <input type="number" [(ngModel)]="fuelCapacity" class="form-control" name="modelName" />
              <div class="text-danger error-message" *ngIf="fuelCapacityError">{{ fuelCapacityError }}</div>
            </div>

            <div class="form-group">
              <label for="model">Description:</label>
              <input type="text" [(ngModel)]="description" class="form-control" name="descriptionName" />
            </div>
          </form>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="hideModalCarCreate()">Cancel</button>
          <button type="button" class="btn btn-secondary" (click)="saveAddChanges()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
