<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link" [routerLink]="['/vehicle',vehicleId,'refueling']">Add Refueling</a></li>
      <li class="nav-item"><a href="#" class="nav-link" [routerLink]="['/vehicle',vehicleId,'service']">Add Service</a></li>
      <li class="nav-item"><a href="#" class="nav-link" [routerLink]="['/vehicle',vehicleId,'expense']">Add Expence</a></li>
      <li class="nav-item"><a href="#" class="nav-link" (click)="goToHistory()">History</a></li>
      <div>
        <div id="vehicles" class="drowdown">
          <select [(ngModel)]="vehicleId" name="vehicle" (change)="onVehicleChange($event)">
            <option [value]="vehicle.id" *ngFor="let vehicle of vehicles">
              {{vehicle.name}}
            </option>
            <option><button (click)="showModalCarCreate()" type="button" class="btn btn-outline-info">+ Add Car</button></option>
          </select>
        </div>
      </div>
    </ul>
  </header>

  <div id="vehicle" *ngIf="modalCarCreate" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Create Car</h5>
          <button type="button" (click)="hideModalCarCreate()" class="btn-close" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" [(ngModel)]="name" class="form-control" id="carName" placeholder="Name" name="carName"
                required="carName" />
            </div>

            <div>
              <label for="manufacturer">Manufacturers:</label>
              <select id="manufacturer" [(ngModel)]="manufacturerId" name="manufacturerId"
                class="form-control dropdown-select" required>
                <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.id">
                  {{ manufacturer.name }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="model">Model</label>
              <input type="text" [(ngModel)]="model" class="form-control" placeholder="Model" name="name"
                required="modelName" />
            </div>

            <div>
              <label for="fuelType">FuelTypes:</label>
              <select id="fuelType" [(ngModel)]="fuelTypeId" name="fuelTypeId" class="form-control dropdown-select"
                required>
                <option *ngFor="let fuelType of fuelTypes" [value]="fuelType.id">
                  {{ fuelType.name }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="model">Fuel capacity:</label>
              <input type="text" [(ngModel)]="fuelCapacity" class="form-control" name="modelName"
                required="modelName" />
            </div>

            <div class="form-group">
              <label for="model">Description:</label>
              <input type="text" [(ngModel)]="description" class="form-control" placeholder="Notes"
                name="descriptionName" required="descriptionName" />
            </div>

            <button type="button" class="m-1 btn btn-primary" data-dismiss="modal" (click)="hideModalCarCreate()">
              No
            </button>
            <button class="btn btn-success" type="submit" (click)="saveAddChanges()">
              Yes
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
