.drowdown {
  width: 100px;

  select {
    padding: 0.5rem;
    border: 1px solid #d4d9e2;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #6482AD;
    outline: none;
  }

  option {
    color: #6482AD;
    font-size: 16px;
    border-radius: 50px;
  }
}

.div-option {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f9fa;
  color: #0c1018;
  outline: none;
}

//Modal window
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
  height: 600px;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
}

.form-control.dropdown-select {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  margin: 5px 0;
}
//Modal window::end

.nav-item {
  display: inline-block;
  font-size: 16px;
  transition: transform 0.3s ease, font-size 0.3s ease;
  color: #6482AD;
}

.nav-link {
  color: #6482AD;
}

.nav-item:hover {
  font-size: 17px;
}