.wrapper {
    box-shadow: 0 .5em 1.5em rgba(0, 0, 0, .1)
}

.dropdown-toggle {
    background-color: #7367f0;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 16px;
    transition: background-color 0.3s ease;
}